automium==0.2.6
automium-web==0.1.1
click==6.7
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
legacy==0.1.6
MarkupSafe==1.0
Pillow==5.2.0
python-decouple==3.1
pytz==2018.5
static3==0.7.0
Werkzeug==0.14.1
