<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
            <a href="{% url 'filmes'%}">página inicial</a>
            <a href="{% url 'logout' %}">sair</a>
    </ul>

   <br>
    <h4>Filmes Terror</h4>
    <ul>
        {% for Terror in filmest%}
        <li>
            <a href="{% url 'atualizar_terror' Terror.id%}">{{ Terror.filme }}</a>
            <a href="{% url 'deletar_terror' Terror.id%}">Deletar</a>
        </li>

        {% endfor %}
    </ul>

    <br><br>
        <a href="{% url 'nova_terror' %}">Novo Terror</a>

</body>
</html>