<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem dos Filmes Comédia</title>
</head>
<body>
    <ul>
            <a href="{% url 'filmes'%}">página inicial</a>
            <a href="{% url 'logout' %}">sair</a>
    </ul>
  <br>
    <h4>Filmes Comédia</h4>
    <ul>
        {% for Comedia in filmesc%}
        <li>
            <a href="{% url 'atualizar_comedia' Comedia.id%}">{{ Comedia.filme }}</a>
            <a href="{% url 'deletar_comedia' Comedia.id%}">Deletar</a>
        </li>

        {% endfor %}
    </ul>

    <br><br>
        <a href="{% url 'nova_comedia' %}">Nova Comédia</a>

</body>
</html>